@import url(http://fonts.googleapis.com/css?family=PT+Mono);

body {
	font-family: 'PT Mono';
}

label span{
	display: inline-block;
	width: 7px;
	height: 7px;
	border: 3px solid;
	border-radius: 50%;
	background-color: pink;
}

#color_holder{
	z-index: 10;
	position: absolute;
	top: 20px;
	left: 40px;
	width: 400px;
	height: 500px;
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right:2px;
}

#grab{
	width: 70px;
	position: absolute;
	bottom: 45%;
	right: 275px; 
	opacity: 0.8;
}

a {
	color: white;
}

table {
	border-color: white;
}

#control_overlay, #control, #control_holder {
	padding-left: 20px;
	padding-top: 20px;
	right: 0px;
	width: 250px;
	height: 100%;
	position: absolute;
	z-index: 10;
	color:white;
}


#control_holder{
	height: 100%;
	bottom: 0px;
	right: 0px;
}

#datepicker{
	margin-top: 4em;
	border-top: 1px solid white;
	padding-top: 1em;
  color:white;
}

#date {
  font-size: 12px;
}

#control {
	background-color: black;
	opacity:.7;
}

ul {
	list-style-type: none;
}

#data-info {
  width: 300px;
  height: 200px;
  bottom:20px;
  left:20px;
  opacity: .8;
  background-color: black;
  position:absolute;
  z-index:10;
  color:white;
  border-color:gray;
  border-style:solid;
  border-width:2px;
}

#attributes {
  padding-top:10px;
  padding-left:10px;
  font-size:10pt;
  font-family:helvetica;
}

label:before {  
	border: 1px solid;
    content: "";  
    display: inline-block;  
  
    width: 16px;  
    height: 16px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 23px;  
        
} 

input[type=checkbox] {  
    display: none;  
}  

.checkbox label:before {  
    border-radius: 3px;  
}  

input[type=checkbox]:checked + label:before {  
    content: "x";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: #f3f3f3;
    text-align: center;  
    line-height: 15px;  
}

input[type=checkbox]:checked + label:before #theft{
	color:pink;
}

li{
	font-size: 10pt;
	margin-bottom: 8pt;
}

#text, h1, ul {
	color:white;
	opacity:1;
}

html, body, #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

#d{
	background-color: rgba(255, 127, 14, .5);
	border-color: rgba(255, 187, 120, 1);
}

#t{
	background-color: rgba(31, 119, 180, .5);
	border-color: rgba(23, 190, 207, 1);
}

#vi{
	background-color: rgba(214, 39, 40, .5);
	border-color: rgba(255, 152, 150, 1);
}

#di{
	background-color: rgba(40, 166, 40, .5);
	border-color: rgba(152, 223, 138, 1);
}

#h{
	background-color: rgba(148, 103, 189, .5);
	border-color: rgba(197, 176, 213, 1);
}

#s{
	background-color: rgba(188, 189, 34, .5);
	border-color: rgba(219, 219, 141, 1);
}

#circle_orange {
  fill: rgba(255, 127, 14, .5);
  stroke: rgba(255, 187, 120, 1);
}

#circle_blue {
  fill: rgba(31, 119, 180, .5);
  stroke: rgba(23, 190, 207, 1);
}

#circle_red {
  fill: rgba(214, 39, 40, .5);
  stroke: rgba(255, 152, 150, 1);
}

#circle_green {
  fill: rgba(40, 166, 40, .5);
  stroke: rgba(152, 223, 138, 1);	
}

#circle_purple {
  fill: rgba(148, 103, 189, .5);
  stroke: rgba(197, 176, 213, 1);
}

#circle_yellow {
  fill: rgba(188, 189, 34, .5);
  stroke: rgba(219, 219, 141, 1);
}

#circle_orange, #circle_blue, #circle_red, #circle_green,
#circle_purple, #circle_yellow {
  stroke-width: 2.5px;
  position: absolute;
  width: 60px;
  height: 20px;
  padding-right: 100px;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}